button {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

/* Form */
.items-form {
	overflow: auto;
	padding: 15px;
}

input[type="text"] {
	width: 70%;
	float: left;
	height: 25px;
}

button[type="submit"] {
	background-color: #27ccc0;
	color: white;
	border: none;
	border-radius: 4px;
	width: calc(30% - 20px);
	height: 30px;
	float: right;
	font-weight: bold;
	cursor: pointer;
}
button[type="submit"]:hover {
	background-color: #2baaa0;	
}

/* List */
.items-list {
	overflow: auto;
	list-style-type: none;
	padding-left: 0px;
}

.items-list-row {
	position: relative;
	overflow: auto;
	border-bottom: 1px solid #f2f2f2;
	padding: 0px 15px;
	cursor: pointer;
}
.items-list-row:last-child {
	border: none;
}
.items-list-row:hover {
	background-color: #f5f5f5;
}

.items-list-row-title {
	width: 70%;
	margin-top: 15px;
	font-weight: bold;
	float: left;
}

.items-list-row-count {
	background-color: #27ccc0;
	color: white;
	border-radius: 13px;	
	padding: 0px 10px;
	margin-left: 10px;
}

.items-list button[type="button"] {
	background-color: white;
	color: red;
	border: 1px solid #d9534f;
	border-radius: 4px;
	width: calc(30% - 20px);
	height: 35px;
	margin-top: 10px;
	float: right;
	cursor: pointer;
}
.items-list button[type="button"]:hover {
	background-color: #d9534f;
	color: white;	
}

.active:before {
	position: absolute;
	content: "";
	border-left: 4px solid red;
	height: 100%;
	left: 0px;
}